<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs")%>
<body>
    <main>
        <div>
            <%- include("../partials/loginnav.ejs") %>
        </div>
        <div>
            <form action="/mycloset/<%= indyApparel._id %>?_method=PUT" method="POST">
                <fieldset class="userbox">
                    <legend>Edit your Apparel</legend>
                    <label>
                        <input class="userinput" type="text" name="nickname" value="<%= indyApparel.nickname %>">
                    </label>
                    <label>
                        <input class="userinput" type="text" name="type" value="<%= indyApparel.type %>">
                    </label>
                    <label>
                        <input class="userinput" type="text" name="brand" value="<%= indyApparel.brand %>">
                    </label>
                    <label>
                        <input class="userinput" type="text" name="size" value="<%= indyApparel.size %>">
                    </label>
                    <button>Edit my closet</button> 
                </fieldset>
                
            </form>
        </div>
    </main>
</body>
</html>