<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs")%>
<body>
    <div>
        <%- include("../partials/loginnav.ejs") %>
    </div>
        <h1><%= indyApparel.nickname %></h1>

        <h1><%= indyApparel.type %></h1>

        <h1><%= indyApparel.brand %></h1>

        <h1><%= indyApparel.size %></h1>
  
        <a href="/mycloset/<%= indyApparel._id %>/edit">
            <button>Edit</button>
        </a>
        <form action="/mycloset/<%= indyApparel._id %>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
</body>
</html>