<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs")%>
<body>
    <div>
        <%- include("../partials/loginnav.ejs") %>
    </div>

        <div class="showbox">
            
            <h1 class="showitem showtitle"><%= indyApparel.nickname %></h1>
            <div class="showitem">
                <h3>Type of Apparel:</h3>
                <h3 class="showitem-result"><%= indyApparel.type %></h3>
            </div>
            <div class="showitem">
                <h3>Rocking:</h3>
                <h3 class="showitem-result"><%= indyApparel.brand %></h3>
            </div>
            <div class="showitem">
                <h3>Size:</h3>
                <h3 class="showitem-result"><%= indyApparel.size %></h3>
            </div>

            <div class="showitem shownavbox">
                <a href="/mycloset/<%= indyApparel._id %>/edit">
                    <button class="shownavitem">Edit</button>
                </a>
                <form action="/mycloset/<%= indyApparel._id %>?_method=DELETE" method="POST">
                    <button class="shownavitem">Delete</button>
                </form>
            </div>
            
        </div>
</body>
</html>